parameters:
    level: max
    paths:
        - src
        - tests

includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/brainbits/phpstan-rules/rules.neon
